.titulos {
  display: flex;
  flex-direction: row; /* Asegura que los elementos estén en una fila */
  justify-content: space-between; /* Distribuye el espacio uniformemente entre los elementos */
  align-items: center; /* Alinea los elementos verticalmente en el centro */
}

.informacion{
  width: 100%;
  height: 40px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  display: flex;
  padding-left: 10px;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
  gap: 40px;
}

.icono-boton-home{
  background-color: transparent;
  border: none;
  font-size: 25px;
  color: #1B75BA;
  cursor: pointer;
}

.icono-boton-home:active{
  color: #7abdf0;
}

.contenido-factura{
  width: 100%;
  height: fit-content;
  background: #FFFFFF;
  border: 1px solid #4B4B4B;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: flex;
  padding: 15px;
  flex-direction: column  ;
  align-items: start;
  gap: 15px  ;
  position: relative;
}

.codigo{
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 15px;
  font-size: 42px;
}

.label-name{
  font-weight: bold;
  font-size: 15px;
  margin-right: 5px;
  font-family: 'Inter';
  font-style: normal;
  color: #565656;
  
}

.label-contenido{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 12px;

}

.label-info {
  font-size: 15px;
  transition: font-size 0.3s ease-in-out; 
  position: relative;
  display: inline-block;
}

.label-info::after {
  content: '';
  position: absolute;
  left: 0%; 
  right: -10%; 
  bottom: -2px;
  border-bottom: 1px solid black; 
  transform-origin: left center;
}

.label-info:hover {
  font-size: 19px;
  cursor: pointer;
}


.telefono-fecha{
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.contenedor-grande{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.titulo-grande{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
}

.contenido-grande{
  font-family: 'Inter';
  font-style: normal;
  font-size: 17px;
  max-width: 500px;
  transition: font-size 0.3s ease-in-out; 
  height: 20px;
}

.contenido-grande:hover{
  cursor: pointer;
  
}

.icono-boton-print{
  background-color: transparent;
  border: none;
  font-size: 45px;
  color: #065088;
}

.icono-boton-print:hover{
  cursor: pointer;
}

.icono-boton-print:active{
  color: #418ac2;
}

.butoon-contenido{
  display: flex;
  align-items: center;
  gap: 50px;
}

.buttons-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}