.pantalla-indice{
  width: 100vw; 
  height: 100vh;
  background-color: #1B75BA;
  display: grid;
  grid-template-columns: 1fr 6fr;
  animation: fadeIn 1s ;
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Empieza con opacidad 0 (oculto) */
  }
  to {
    opacity: 1; /* Termina con opacidad 1 (visible) */
  }
}