.pantalla-indice{
  width: 100vw; 
  height: 100vh;
  background-color: #1B75BA;
  display: grid;
  grid-template-columns: 1fr 10fr;
  animation: fadeIn 1s ;
}

.opciones-navegacion{
  grid-column: 1;
  background-color: #1B75BA;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;

}

.interfaz{
  grid-column: 2;
  background-color: #E9E9E9;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  display: grid;
  border: none;
  padding: 20px;
}
 

@keyframes fadeIn {
  from {
    opacity: 0; /* Empieza con opacidad 0 (oculto) */
  }
  to {
    opacity: 1; /* Termina con opacidad 1 (visible) */
  }
}